In [22]:
import pandas as pd
import numpy as np
fold = 5
mode = 'eva'
df1 = pd.read_csv('./{}_VDJ_10X_McPAS_1V1_{}.csv'.format(mode,fold))
df2 = pd.read_csv('./{}_10Xneg_{}.csv'.format(mode,fold))
combine = pd.concat([df1,df2])
combine = combine.sample(frac=1).reset_index(drop=True)
combine.to_csv("{}_add10Xneg_{}.csv".format(mode,fold),index=False)
combine

                    CDR3     Epitope  label
0         CASSSPGGMETQYF   GILGFVFTL      1
1       CASSQTYPGAYNEQFF   SPRWYFYYL      1
2        CASSLEYRGDQPQHF   RMFPNAPYL      0
3        CASSQRMGLSETQYF   NLVPMVATV      1
4        CASSAGTGIYDGAFF  TPRVTGGGAM      1
...                  ...         ...    ...
23913    CASSYLREANTEAFF   MLDLQPETT      0
23914   CASGRGFMAVKQGYTF   LPPIVAKEI      0
23915    CASSGTGGAAYEQYF   RTLNAWVKV      0
23916    CASTTSTAPNEKLFF   IPSINVHHY      1
23917  CASSSNQGAGGNQPQHF   SFHSLHLLF      1

[23918 rows x 3 columns]

In [6]:
df1

                     CDR3      Epitope  label
0        CASSREARLIFHSAFF  HTTDPSFLGRY      0
1           CASLLLGTAAEAF    NLVPMVATV      1
2      CASSLEISLCTMLMHQYF    GILGFVFTL      0
3           CASSGGRNTEAFF    KTFPPTEPK      1
4        CASSYIAGVPYNEQFF   LPRRSGAAGA      1
...                   ...          ...    ...
78340      CASADQPIVHPQYF  HTTDPSFLGRY      0
78341       CVGAFCMRFKLFF    GLCTLVAML      0
78342      CSVEECRKYGQQYF    YVLDHLIVV      0
78343     CASSRNHCGGWEQFF    TLVPQEHYV      0
78344    CASSMEDGKKAHEYTF    TLIGDCATV      0

[78345 rows x 3 columns]

In [7]:
df2

                   CDR3    Epitope  label
0          CASRTGFYEQYF  RPPIFIRRL      0
1         CASSLGGGNEAFF  NLVPMVATV      0
2        CASSFTGGRYEQYF  RIAAWMATY      0
3       CASSSSQGARYGYTF  IMDQVPFSV      0
4       CASSQDRGLNQPQHF  SLLMWITQV      0
...                 ...        ...    ...
17326  CASSPTPPSSYNEQFF  SLFNTVATL      0
17327   CASRASSGFSYEQYF  KVLEYVIKV      0
17328  CASSHPSLEYQETQYF  LLFGYPVYV      0
17329     CSVETGSNYGYTF  RTLNAWVKV      0
17330   CASSLEAGLAYGYTF  RIAAWMATY      0

[17331 rows x 3 columns]